@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.products-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    align-items: center;
  
    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  