@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.bands-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: $quaternary-background;
    align-items: center;
  
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  