@font-face {
  font-family: "AvenirLTStd";
  src: url(../../assets/fonts/AvenirLTStd-Black.woff2) format("woff2"),
    url(../../assets/fonts/AvenirLTStd-Black.woff) format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "AvenirLTStd";
  src: url(../../assets/fonts/AvenirLTStd-Heavy.woff2) format("woff2"),
    url(../../assets/fonts/AvenirLTStd-Heavy.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "AvenirLTStd";
  src: url(../../assets/fonts/AvenirLTStd-Roman.woff2) format("woff2"),
    url(../../assets/fonts/AvenirLTStd-Roman.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
