// =======================
// Media Breakpoints
// =======================

$tablet-breakpoint: 48rem; // 768px;
$desktop-breakpoint: 80rem; // 1280px;

// =======================
// Colors
// =======================

// Primary Colors
$primary-text: #333333; // Black
$primary-background: #1e1e1e; // White
$primary-accent: #ed0923; // Red
$background-header: #1e1e1e;

// Secondary Colors
$secondary-outline: #8230df; // Purple Heart
$secondary-background: #fef6f6; 
$secondary-text:#ffffff;  

// tertiary Colors
$tertiary-text: #D72323;
$tertiary-background: #D9D9D9;

//Supporting Colors
$link: #015a85; // Blue
$divider: #d9d9d9; // Divider Grey
$support-error: #ed0923; // Red
$quaternary-text: #7B7B7B;
$button-background: #D72323;
$image-background:#3E3636;


