.input-field {
    margin-bottom: 15px;
  
    &__label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
  
    &__input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
  
      &:focus {
        border-color: #d72323;
      }
  
      &--error {
        border-color: #d72323;
      }
    }
  
    &__error {
      color: #d72323;
      font-size: 12px;
      margin-top: 5px;
    }
  }
  