@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.header {
  background-color: $background-header;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  @include tablet {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem 8rem 2rem;
  }
  @include desktop {
    padding: 2rem 8rem 7rem 8rem;
  }

  &__cart {
    position: relative;
    cursor: pointer;

    &-icon {
      width: 30px;
    }

    &-badge {
      position: absolute;
      top: -5px;
      right: -5px;
      background-color: $primary-accent;
      color: $secondary-text;
      font-size: 0.8rem;
      font-weight: bold;
      padding: 2px 8px;
      border-radius: 50%;
    }
  }
}

h1{
  font-size: 2em;
}
