@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.bookingDetails {
    position: relative;
    align-items: center;
    margin: 18px;
    top: -4rem;

    @include body;

    &__details{
        margin: 0.75rem 0.75rem 0 0.75rem;
        padding: 1.6rem;
        align-items: center;
        background-color: $primary-background;
        border: 1px solid #D9D9D9;
        border-width: 1px;
        border-radius: 0.5rem;
        box-shadow: 0px 1px 6px 0px rgba(51, 51, 51, 0.2); 
        
    }

    &__header {
        margin-bottom: 1rem;
        @include page-header;
        font-weight: 600;

    }


    &__advisor{
        margin-top: 2rem;
        margin-bottom: 1rem;
        @include sub-header;
        color:grey;
    }

    &__header-small {
        margin-bottom: 3rem;
        @include sub-header;
        font-size: 1rem; 
        
    }

    &__date, &__time, &__location {
        margin-bottom: 0.5rem;
        @include body-regular;
        color: grey;
    }

    &__inputField {
        padding: 56px 36px;
        margin-bottom: 1rem;    
        display: flex;
        flex-direction: column;
    }

    &__inputField-detail {
        margin-top: 2rem;
        padding: 1rem;
        margin-bottom: 1rem;
        width: 200px; 
        height: 100px;
        @include sub-header   
    }

    &__inputField-button {
        @include forms-links-buttons   
    }
}
