@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  @include body;
  background-color: $primary-background;
  color: $secondary-text;
  padding: 2rem;
  text-align: center;

  &__content {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 3rem;
  }

  &__logo {
    font-size: 2rem;
    margin-bottom: 1rem;

    &--highlight {
      color: $tertiary-text;
    }

    @include tablet{
      font-size: 3rem;
    }

    @include desktop{
      font-size: 4rem;
    }
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    line-height: 2; 

    &-item {
      margin: 0.5rem 0;
      font-size: 1.2rem;
      font-weight: bold;

      @include tablet{
        font-size: 1.5rem;
      }
  
      @include desktop{
        font-size: 2rem;
      }
    }

    &-link{
      all: unset;
      color: inherit;
      transition: color 0.3s;
      cursor: pointer;

      &:focue{
        text-decoration: none;
      }
    }
  }

  &__description {
    font-size: 1rem;
    margin: 1.5rem 0;
    line-height: 1.6;
    align-content: center;
    color: $quaternary-text;

    @include tablet{
      font-size: 1.2rem;
    }

    @include desktop{
      font-size: 1.5rem;
    }
  }

  &__copyright {
    font-size: 0.9rem;
    margin-top: 1.5rem;
    opacity: 0.8;
    margin-bottom: 3rem;
  }
}



