.checkout-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
  
    &__form {
      flex: 2;
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      &-title {
        font-size: 24px;
        color: #d72323;
        margin-bottom: 20px;
      }
  
      &-content {
        display: flex;
        flex-direction: column;
      }
  
      &__submit-btn {
        margin-top: 20px;
        padding: 10px 15px;
        background-color: #d72323;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
  
        &:hover {
          background-color: #a71d1d;
        }
      }
    }
  
    &__cart {
      flex: 1;
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      &-title {
        font-size: 24px;
        margin-bottom: 20px;
        color: #3e3636;
      }
    }
  }
  